@font-face {
    font-family: 'TitleFont'; /* Name your font family */
    src: url('../fonts/ArchivoBlack-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }

.title-header-yellow {
    font-family: 'TitleFont', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FDC032;
}

.title-header-pink {
  font-family: 'TitleFont', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F90051;
}

.paragraph {
  font-family: 'TitleFont', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F90051;
}

.about {
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  align-items: baseline;
  height:300px;
}

.bulls-image {
  background-image: url("../images/bulls-image.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 500px;
  cursor: pointer;
}

.cradle-image {
  background-image: url("../images/will-wight.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 500px;
  cursor: pointer;
}

.hades-image {
  background-image: url("../images/hades.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  min-height: 500px;
  cursor: pointer;
}

.card-text {
  word-wrap: break-word;  /* Allows wrapping */
  word-break: keep-all;   /* Prevents breaking words */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

body {
    /* Background color to ensure the transparent part of the gradient is visible */
    
    /* Creating the dots with radial gradient */
    background-image: radial-gradient(circle, #734657 10%, #302608) 10%;
    
    /* Positioning and sizing the gradient to create a dot pattern */
    background-position: 0 0;
    background-size: 10px 10px;
    
    /* Ensuring the background covers the entire body */
    height: 100vh;
    margin: 0;
  }